* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 0px 0px;
}

body {
    min-height: 100vh;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(164, 255, 181);
}

.red {
    color: red;
}

.green {
    color: green;
}

.text-none {
    text-align: start;
}

.bnt-voltar {
    color: white;
}

.input {
    width: 15rem;
    border: 1px solid rgb(177, 177, 177);
}

#sub {
    border-top: 2px solid black;

}

#banner {
    width: 100%;
}

#banner img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
}